*/.*/*
*/.idea/*
*/out/*
java/.idea/*
java/out/*
java/.idea/artifacts/learn_diary_Web_exploded.xml
java/.idea/compiler.xml
java/.idea/kotlinc.xml
java/.idea/learn-diary.iml
java/.idea/misc.xml
java/.idea/modules.xml
java/.idea/uiDesigner.xml
java/.idea/vcs.xml
java/.idea/workspace.xml
java/.idea/dictionaries/dnf.xml
java/.idea/libraries/Java_EE_6.xml
java/.idea/runConfigurations/LearnDiary.xml
java/.idea/web/META-INF/MANIFEST.MF
java/.idea/web/WEB-INF/web.xml
java/out/artifacts/learn_diary_Web_exploded/index.html
java/out/artifacts/learn_diary_Web_exploded/META-INF/MANIFEST.MF
java/out/artifacts/learn_diary_Web_exploded/WEB-INF/web.xml
java/out/artifacts/learn_diary_Web_exploded/WEB-INF/classes/META-INF/MANIFEST.MF
java/out/artifacts/learn_diary_Web_exploded/WEB-INF/classes/WEB-INF/web.xml
java/out/artifacts/learn_diary_Web_exploded/WEB-INF/classes/test/utils.class
java/out/artifacts/learn_diary_Web_exploded/test/file/TIM.ico
java/out/artifacts/learn_diary_Web_exploded/test/file/k.png

